{% if IRODS_SODAR_AUTH != "0" %}
auth    sufficient  pam_python.so /usr/local/lib/pam-sodar/pam_sodar.py
{% endif %}
auth    sufficient  pam_unix.so
{% if IRODS_SSSD_AUTH != "0" %}
auth    sufficient  pam_sss.so try_first_pass md5 debug
{% endif %}
auth    required    pam_deny.so
